@import "styles";


body {
    margin: 0;
}

h2 {
    font-family: shrikhand;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

h3 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: $green-light 3px solid;
    width: 50px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 4px 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

p {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



ol {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
}

li {
    gap: 0;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}


.arrow {
    font-size: 30px;
    display: flex;
    position: absolute;
    left: 25px;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.like {
    margin-top: 0;
    position: initial;
    font-size: 30px;
}

.like2 {
    position: relative;
    margin-left: 2px;
    font-size: 30px;
    right: 2rem;
    opacity: 0;
}

.titleheart {
    display: flex;
    justify-content: space-between;
    margin-right: -30px;
}

.menu {
    position: absolute;
    background-color: #f6f6f6;
    border-radius: 50px;
    position: relative;
    margin-top: -100px;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .menu__filter {
        height: 69px;
        display: flex;
        align-items: center;
        border: 0px solid #EAEAEA;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        transition: 0.7s ease-in-out;

        .menu__filter--text {
            padding: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            transition: 0.7s ease-in-out;
        }

        .menu__filter--subtitle {
            display: flex;
            justify-content: space-between;
        }
    }



    .menu__checklist {
        margin-right: -60px;
        border-radius: 0 15px 15px 0;
        width: 60px;
        height: 70px;
        background-color: $green-light;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .menu__checklist--icon {
            background-color: white;
            border-radius: 15px;
            color: $green-light;
            padding: 3px;
            width: 15px;
            height: 15px;
            align-items: center;
        }
    }
}



.block {
    gap: 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-in-out;
}


.menu__filter {
    &:hover {
        .block {
            transform: scale(0);
            transform: translate(-60px);
            transition: 0.7s ease-in-out;
        }
    }
}

.menu__filter {
    &:hover {
        .menu__filter--text {
            width: calc(100% - 80px);
            transition: 0.5s linear;

        }
    }
}

.button {
    @include button
}

.menu__btn {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;
    margin-top: 40px;
}

.starter {
    animation: fadein 1s linear;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.dish {
    animation: fadein 1s linear;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.dessert {
    animation: fadein 1s linear;
    animation-delay: 3s;
    animation-fill-mode: both;
}

.starter li {
    animation: fadein 1s ease-out;
    animation-fill-mode: both;
}

.starter li:nth-child(1) {
    animation-delay: 0.5s;
}

.starter li:nth-child(2) {
    animation-delay: 1s;
}

.starter li:nth-child(3) {
    animation-delay: 1.5s;
}

.starter li:nth-child(4) {
    animation-delay: 2s;
}



.dish li {
    animation: fadein 1s ease-out;
    animation-fill-mode: both;
}

.dish li:nth-child(1) {
    animation-delay: 2.5s;
}

.dish li:nth-child(2) {
    animation-delay: 3s;
}

.dish li:nth-child(3) {
    animation-delay: 3.5s;
}

.dish li:nth-child(4) {
    animation-delay: 4s;
}

.dessert li {
    animation: fadein 1s ease-out;
    animation-fill-mode: both;
}

.dessert li:nth-child(1) {
    animation-delay: 4.5s;
}

.dessert li:nth-child(2) {
    animation-delay: 5s;
}

.dessert li:nth-child(3) {
    animation-delay: 5.5s;
}

.dessert li:nth-child(4) {
    animation-delay: 6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 1220px) {
    /* Desktop */

    .like2 {
        position: relative;
        margin-left: 2px;
    }

    .header {
        position: relative;
    }

    img {
        height: 400px;
        object-fit: cover;
    }

    .container {
        margin-right: 100px;
        margin-left: 100px;
    }

    .titleheart {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

    }

    .choice {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

    }

    .menu {
        margin-right: 10%;
        margin-left: 10%;
        padding: 20px;

        .menu__filter {
            width: 100%;
            height: 69px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}